.number-input {
  width: 50px;
  margin-left: 5px;
}

button {
  margin-left: 5px;
}

.task {
  margin-bottom:  10px;
}

.un-check {
  background: #CCFF99;
  border: 2px solid #4CAF50;
  border-radius: 4px;
}